doctype 5

html(lang="es")

	head
		title NeedlePOP!

		//- METAs
		meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')


		//- Bootstrap CSS
		link(rel='stylesheet', href='css/bootstrap.min.css')
		//- Main CSS
		link(rel='stylesheet', href='css/main.css')


	body
		div.container
			header.row
				h1.col-xs-12 NeedlePOP!

			section
				article

			footer

		//- jQuery JS
		script(src='js/jquery-2.0.3.min.js')
		script(src='js/swig.min.js')
		script(src='js/undercore.min.js')
		script(src='js/backbone.min.js')
		script(src='js/backbone.min.js')
